.card {
  position: relative;
  background: #fff;
  display: grid;
  place-items: center;
  box-shadow: 1px 1px 10px rgba(#000000, 0.2);
  border-radius: 5px;
  overflow: hidden;

  &_image {
    background-position: center;
    background-size: cover;
    height: 20rem;
    width: 100%;
  }

  &_content {
    display: grid;
    place-items: center;
    padding: 1rem;
  }

  &_price {
    font-size: 3rem;
  }

  &_text {
    font-size: 2rem;
  }
}
